{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
{% block title %} Password Change {% endblock %}

{% block menu %}{% endblock %}

{% block content %}
    <div class="page-container">
        <!-- MAIN CONTENT-->
        <div class="main-content">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-6">
                            <h1 style="color: green;">Пароль изменён!</h1>

                            <form action="{% url 'jerdesh:index_url' %}" method="GET">
                                <button type="submit" class="btn btn-primary btn-lg btn-block">На главную</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}