{% extends 'users/base.html' %}

{% block title %} Forgot Your Password ?  {% endblock %}

{% block content %}
<h1> Забыли ваш пароль ?</h1>
<p>Мы отправим вам инструкцию для восстановления пароля на вашу почту</p>

<!-- <div class="col-lg-6 ml-5">
    <div class="card ml-5">
        <div class="card-header">Example Form</div>
        <div class="card-body card-block">
            <form action="" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">Email</div>
                        <input type="email" id="email3" name="email3" class="form-control">
                        <div class="input-group-addon">
                            <i class="fa fa-envelope"></i>
                        </div>
                    </div>
                </div>
                <div class="form-actions form-group">
                    <button type="submit" class="btn btn-primary btn-sm">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div> -->
<form action="" method="POST">
    {% csrf_token %}
    <fieldset class="module aligned">
        <div class="form-row field-email">
            {{form.email.errors}}
            <label for="id_email"> Email адрес </label>
            {{form.email}}
        </div>
    </fieldset>
        <button class="btn btn-success col-md-3 mb-100" type="submit"> Send me instructions</button>

</form>

{% endblock %}
