{% extends 'users/base.html' %}

{% block menu %}{% endblock %}

{% block content %}

<div class="page-container">
    <!-- MAIN CONTENT-->
    <div class="main-content">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 mt-5">
                        <div class="card">
                            <div class="card-header">
                                <h1> Забыли ваш пароль ?</h1>
                                <p>Мы отправим вам инструкцию для восстановления пароля на вашу почту</p>
                            </div>
                            <div class="card-body card-block">
                                <form action="" method="post" class="form-horizontal">
                                    {% csrf_token %}
                                    <div class="row form-group">
                                        <div class="col col-md-12">
                                            <div class="input-group">
                                                <input type="email" id="input2-group2" name="email" placeholder="Email" class="form-control">
                                                <div class="input-group-btn">
                                                    <button class="btn btn-primary">Отправить</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
