{% extends 'jerdesh/base.html' %}

{% block title %} {{ ad.ad_title }} - {{ block.super }} {% endblock %}


{% block content %}
<div class="job_details_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="job_details_header">
                    <div class="single_jobs white-bg d-flex justify-content-between">
                        <div class="jobs_left d-flex align-items-center">
                            <div class="jobs_conetent">
                                <h4>{{ ad.ad_title }}</h4>
                                <div class="links_locat d-flex align-items-center">
                                    <div class="location">
                                        <p> <i class="fa fa-map-marker"></i>{{ ad.city }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if time %}
                            <form action="{% url 'jerdesh:ad_up_url' ad.slug %}" method="POST">
                                {% csrf_token %}
                                <button class="btn btn-primary">Поднять</button>
                            </form>
                        {% endif %}
                        <div class="jobs_right">
                            <div class="apply_now">
                                {% if request.user.is_authenticated %}
                                    {% if is_favorite %}
                                        <a class="heart_mark" href="{% url 'jerdesh:ad_favorite_url' slug=ad.slug %}"> <i class="fa fa-heart"></i> </a>
                                    {% else %}
                                        <a class="heart_mark" href="{% url 'jerdesh:ad_favorite_url' slug=ad.slug %}"> <i class="ti-heart"></i> </a>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                <div id="carousel-example-1z" class="carousel slide carousel-fade" data-ride="carousel">
                    <ol class="carousel-indicators">
                        {% for image in images %}
                            <li data-target="#carousel-example-1z" data-slide-to="{{ forloop.counter0 }}" class="{% if forloop.counter0 == 0 %} active {% endif %}"></li>
                        {% endfor %}
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        {% for image in images %}
                            <div class="carousel-item {% if forloop.counter0 == 0 %} active {% endif %}">
                                <img class="d-block w-100" src="{{ image.img.url }}"
                                alt="First slide">
                            </div>
                        {% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>

                <div class="descript_wrap white-bg" style="word-wrap: break-word">
                    <div class="single_wrap">
                        <h4>Описание</h4>
                        <p>{{ ad.ad_text }}</p>
                    </div>
                    {{ ad.price }}
                </div>
            </div>
            <div class="col-lg-4">
                <div class="job_sumary">
                    <div class="job_content">
                        <ul>
                            <li>Дата публикации: <span>{{ ad.pub_date }}</span></li>
                            <li>Дата поднятия: <span>{{ ad.last_up }}</span></li>
                            <li>Местоположение: <span>{{ ad.city }}</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    {% if ad.author == request.user or request.user.is_superuser %}
        <div class="admin-panel align-items-center">
            <a href="{% url 'jerdesh:ad_update_url' ad.slug %}" class="btn btn-light">Изменить</a>
            <a href="{% url 'jerdesh:ad_delete_url' ad.slug %}" class="btn btn-danger">Удалить</a>
        </div>
    {% endif %}

{% endblock %}