{% extends 'users/base.html' %}
{% load static %}

{% block content %}
    <!-- PAGE CONTAINER-->
    <div class="page-container">
        <!-- MAIN CONTENT-->
        <div class="main-content">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-9">
                            <h2 class="title-1 m-b-25">Мои объявления</h2>
                            <div class="table-responsive table--no-card m-b-40">
                                <table class="table table-borderless table-striped table-earning">
                                    <thead>
                                        <tr>
                                            <th>Дата</th>
                                            <th>Название</th>
                                            <th class="text-right">Категория</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for ad in ads %}
                                        <tr onclick="window.location='{{ ad.get_absolute_url }}'">
                                            <td>{{ ad.pub_date }}</td>
                                            <td>{{ ad.ad_title|truncatewords:3 }}</td>
                                            <td class="text-right">{{ ad.category }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="scroll">
                        <div class="col-lg-9">
                            <h2 class="title-1 m-b-25">Избранное</h2>
                            <div class="table-responsive table--no-card m-b-40">
                                <table class="table table-borderless table-striped table-earning">
                                    <thead>
                                        <tr>
                                            <th>Дата</th>
                                            <th>Название</th>
                                            <th class="text-right">Категория</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for favorite in favorite_posts %}
                                        <tr onclick="window.location='{{ favorite.get_absolute_url }}'">
                                            <td>{{ favorite.pub_date }}</td>
                                            <td>{{ favorite.ad_title|truncatewords:3 }}</td>
                                            <td class="text-right">{{ favorite.category }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END MAIN CONTENT-->
        <!-- END PAGE CONTAINER-->
    </div>
    </div>
{% endblock %}